.about-me {
    margin: 2rem auto;
    text-align: center;
  }
  
  .about-me-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  
  .about-me-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  
  .about-me-image {
    width: 500px;
    height: auto;
    border-radius: 10px;
    
  }
  
  .about-me-text {
    max-width: 600px;
    text-align: left;
    font-size: 1.1rem;
    line-height: 1.6;
  }
  
  .about-me-text p {
    margin-bottom: 1.5rem;
  }
  