.contact-form {
  display: flex;
  flex-direction: column;
  gap: 25px; /*Space between inputs */
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  font-size: 16px; /* Ensure the font size is consistent */
  font-family: inherit; /* Inherit the font family from the parent */
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; /* Ensure they take the same width */
  box-sizing: border-box; /* Include padding in the element's width/height */
}

.contact-form textarea {
  resize: none; /* Disable resize handle for uniformity */
  line-height: 1.5; /* Adjust line height for better readability */
}

.contact-form button {
  background-color: #28a745; /* Green color */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.contact-form button:hover {
  background-color: #218838; /* Darker green on hover */
}
